stacksidebar {
  border-left-width: 0px;
  border-right-width: 0px;
}

stacksidebar.background list {
  background: @theme_bg_color;
}

carousel.vertical .carousel-icon {
  -gtk-icon-transform: rotate(90deg);
}

/* Mimic the status page. */
.avatar-page,
.timed-animation-page {
  margin: 36px 12px;
}

.avatar-page > box > label.title,
.timed-animation-page > box > label.title {
  margin-bottom: 12px;
}

.avatar-page > box > label.description {
  margin-bottom: 36px;
}

flowbox.inline flowboxchild {
  padding: 0;
  background: none;
  color: inherit;
}

#custom-button-1 {
  color: @red_3;
}

#custom-button-2 {
  color: @purple_3;
}

#custom-button-3 {
  color: white;
  background-color: @green_5;
}

#custom-button-4 {
  color: white;
  background-color: @orange_4;
}

.htranslate {
  min-width: 30px;
  min-height: 30px;
  border-radius: 24px;
  background: #33d17a;
  background: linear-gradient(to bottom, @green_2, @green_5);
  margin-bottom: 36px;
}
